body {
    display: flex;
    height: 100vh;
    margin: 0;
}
.container {
    display: grid;
    grid-template-columns: 55% 45%;
    flex: 1;
}

.timeDependentImage { 
    grid-column: 1;
    grid-row: 1;
    background-color: blueviolet;
}

.timeDependentImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.authField { 
    background-color: white; 

    grid-column: 2;
    grid-row: 1;
    
    display: grid;
    grid-template-columns: 70vh;
    grid-template-rows: 10vh 40vh 10vh auto;
    grid-row-gap: 2%;
    align-content: center;
    justify-content: center;

    font-family: 'Montserrat';
}

.helloTimeDependentText {
    background-color: white;

    grid-column: 1;
    grid-row: 1;
    text-align: left;
    align-self: end;

    color:blueviolet
}

.authForm {
    grid-column: 1;
    grid-row: 2;
    text-align: left;

    display: grid;
    grid-template-columns: 50vh;
    grid-template-rows: 10vh 10vh 10vh;
    grid-row-gap: 2%;
    align-content: center;
    justify-content: center;
}

.authForm h2 {
    grid-column: 1;
    grid-row: 1;
    text-align: center;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.808);
}

.authForm label {
    font-size: 17px;
    color: rgba(0, 0, 0, 0.808);
}

.authForm input {
    margin-top: 1vh;
    border: none;
    border-bottom: blueviolet solid 2px;
    opacity: 0.5;
    height: 30px !important;
    padding-left: 10px;

    font-family: 'Montserrat';
    font-size: medium;

    transition: opacity 0.5s ease-in-out;
}

.authForm input:focus {
    outline: none;
    opacity: 1;
}

.usernameInput {
    grid-column: 1;
    grid-row: 2;
    
    display: flex;
    flex-direction: column;
}

.passwordInput {
    grid-column: 1;
    grid-row: 3;

    display: flex;
    flex-direction: column;
}

.confirmButton {
    grid-column: 1;
    grid-row: 3;
    text-align: center;  
    align-self: top;
}

.confirmButton button {
    height: 50px;
    width: 150px;
    margin-bottom: 20px;

    font-family: 'Montserrat';
    font-size: 17px;
    
    background-color: transparent;
    border: none;
    position: relative;
}

.confirmButton button::after {
    content: 'Вход';
    position: absolute;
    top: 15px;
    left: 0;
    width: 100%;
    height: 100%;
    color: black;
}

.confirmButton button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background: blueviolet;
}

.confirmButton button:hover::before {
    opacity: 0.6;
}

.confirmButton button:active::before {
    opacity: 0.9;
}