<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Активация</title>
    <link rel="stylesheet" th:href="@{/activationStyle.css}" />
    <link rel="stylesheet" th:href="@{/style.css}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div th:replace="~{staticElement :: navbar}">

        </div>

        <div th:replace="~{staticElement :: sidebar}">

        </div>

        <form class="mainContentContainer" th:action="@{/activation}" method="post" enctype="multipart/form-data">
            <div class="mainInfo">
                <input type="hidden" name="userId" th:value="${userId}">
                <h3>Основная информация</h3>

                <div class="staticData">
                    <p>Имя*</p>
                    <p>Фамилия*</p>
                    <p>Должность*</p>
                    <p>Год рождения</p>
                    <p>Пол</p>
                </div>

                <div class="dynamicData">
                    <input type="text" name="firstName" required>
                    <input type="text" name="lastName" required>
                    <input type="text" name="position" required>
                    <input type="text" name="dob">
                    <input type="text" name="gender">
                </div>
            </div>

            <div class="placeInfo">
                <h3>Информация о рабочем месте</h3>

                <div class="staticData">
                    <p>Город*</p>
                    <p>Улица</p>
                    <p>Этаж</p>
                    <p>Кабинет</p>
                </div>

                <div class="dynamicData">
                    <input type="text" name="city" required>
                    <input type="text" name="street">
                    <input type="text" name="officeFloor">
                    <input type="text" name="officeNumber">
                </div>
            </div>

            <div class="form-group">
                <label for="photo">Фотография профиля:</label>
                <input type="file" id="photo" name="photo" accept="image/*">
            </div>
            <div class="confirm">
                <button type="submit"></button>
            </div>
        </form>
    </div>
</body>
</html>