<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Чат</title>
    <link rel="stylesheet" th:href="@{/style/chatStyle.css}">
    <link rel="stylesheet" th:href="@{/style/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.5.0/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
    <script src="/js/wsOperation.js"></script>
    <script src="/js/message.js"></script>
    <script src="/js/chatState.js"></script>
    <script src="/js/searchUsers.js"></script>
    <script src="/js/actionHandler.js"></script>
</head>
<body>
<div class="container">
    <div th:replace="~{staticElement :: navbar}"></div>
    <div th:replace="~{staticElement :: sidebar}"></div>

    <div class="mainContainer">
        <div id="currentUser" th:data-username="${currentUser.username}" style="display: none;"></div>
        <div class="mainChatContainer">
            <form class="usersContainer" th:action="@{/chat}" method="get" id="searchForm" onsubmit="return false;">
                <div class="searchUsers">
                    <button type="button" id="cancelSearchButton" style="display: none;"><img th:src="@{/img/close.png}" height="20px" width="20px"></button>
                    <input id="searchInput" type="text" name="q">
                    <button type="submit" id="searchButton"><img th:src="@{/img/search.png}" height="25px" width="25px"></button>
                </div>

                <div class="usersList" id="usersList">
                    <div th:each="user : ${usersAll}" th:if="${user.username} != ${currentUser.username} " class="listItem" th:id="'listItem-' + ${user.username}"
                         th:data-user-id="${user.username}"
                         th:data-user-name="${user.firstName + ' ' + user.lastName}"
                         th:data-search-text="${user.firstName + ' ' + user.lastName + ' ' + user.username}">
                        <p class="userImage">
                            <img th:if="${user.photoPath != null}"
                                 th:src="@{'/uploads/' + ${user.photoPath}}">
                            <img th:unless="${user.photoPath != null}" th:src="@{/img/user.png}">
                        </p>
                        <p class="userName" th:text="${user.firstName + ' ' + user.lastName}"></p>
                        <p class="lastMessage">Последнее сообщение</p>
                    </div>
                </div>
            </form>

            <div class="chatContainer">
                <div class="chatHeader" id="chatHeader">
                </div>

                <div class="chatBody" id="chatBody">
                    <div class="noDialogMessage">Выберите пользователя, чтобы начать общение</div>
                </div>
                <div class="notification" id="notification"></div>
                <div class="chatInput" id="chatInput">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>