<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
    <head>
        <meta charset="UTF-8"/>
        <title>Вход</title>
        <link rel="stylesheet" th:href="@{/loginStyle.css}" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>

    <body>
      <div class="container">

        <div class="timeDependentImage">
            <img th:src="@{/120135.jpg}">
        </div>

        <div class="authField">

            <div th:if="${param.error}" class="alert alert-danger">
                Неверный логин или пароль!
            </div>

          <div class="helloTimeDependentText">
            <h1 th:text="${today}"></h1>
          </div>

          <form class="authForm" th:action="@{/login}" method="post">
              <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

            <h2>Вход в ваш аккаунт</h2>
            
            <div class="usernameInput">
              <label for="username">Имя пользователя</label>
              <input type="text" id="username" name="username" required> 
            </div>

            <div class="passwordInput">
              <label for="password">Пароль</label>
              <input type="password" id="password" name="password" required>
            </div>

              <div class="confirmButton">
                  <button class="button" type="submit"></button>
                  <div><a href="#">Забыли пароль?</a></div>
              </div>
          </form>

        </div>
      </div>
    </body>
</html>